@charset "utf-8";
/* CSS Document*/
/*Define the body element's color*/

/*@font-face{
	font-family:capitals;
	src:url(../fonts/Vollkorn-Regular.ttf);
}*/



body{
	font-family:'Open Sans';
	color:#333333;
	background:#FFFFFF;
	color: #321E1D;
	margin-left:6em;
	margin-right:6em;
	margin-bottom:1.5em;
	max-width:850px;
	padding:25px;
	border: 5px;
	border-color:Black;
}
h1,h2,h3{
	font-variant:small-caps;
	margin-bottom:-3px;
}
h3{
	font-size:150%;
}
li{
	padding-bottom:3px;
}
/*This section is for links*/
a:link{
	font-weight:normal;
	color:#333333;
	text-decoration:underline;
}
a:visited{
	font-weight:normal;
	color:#333333;
}
a:hover{
	color:#999999;
}

.date {
    float:right;
    clear:both;
    display:block;
}

.item {
    padding: .5em .25em;    
}

.title_m{
    font-style:italic;
}

#revision {
    font-size:.7em;
    font-style:italic;
    border-top: solid 1px black;
}

.award{
    padding: .1em .25em;
}

.refToMe{
    font-weight:bold;
}
