
:root{
    padding:0;
    margin:0;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: local('EB Garamond Regular'), local('EBGaramond-Regular'),
       url('eb-garamond-v11-latin/eb-garamond-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('eb-garamond-v11-latin/eb-garamond-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body{

    background-size: 4rem 4rem;
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0.3) 1px, transparent 1px), linear-gradient(to bottom, rgba(220, 220, 220, 0.3) 1px, transparent 1px);
    font-family: 'EB Garamond';

    line-height:1.4;
    color:#111111;
    padding:0 2rem;
}

header{
    margin:0 auto;
    text-align:center;
    background-image: linear-gradient(to bottom, white 50%, transparent 100%);
    width:100vw;
    margin-left:-1rem;
}

header > *{
}

h1{
    font-size:9rem;
    margin-top:0;
    padding-bottom:0rem;
    margin-bottom:.5rem;
    display:inline-block;
}

h1::after{
    content:"";
    display:block;
    height:.2rem;
    width:120%;
    margin-top:.75rem;
    margin-left:-10%;
    background: #908d8d;
    
}

div.cv{
    display:flex;
    flex-direction:row;


}

nav{
    width:30%;
    height:100vh;
    background-color:#ccc;
    order:2;
}

article{
    overflow-y:scroll;
    display:flex;
    flex-direction:column;
    font-size:1.2rem;
}

.cv section{
    background-color:white;
    padding:2rem 2rem 2rem 2rem;
    margin:2rem 2rem 2rem 2rem;
    box-shadow: -6px 6px 20px 0px #dcdcdc;
    border-radius:.5rem;
}

.cv section > div{
    margin:.5rem;
    padding-left:1rem;
    
}

.refToMe{
    font-weight:bold;
}
